{{ define "dictionary_word" }}
<div class="container">
    {{ if . }}
    <div class="my-4">
        {{ range . }}
        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title">{{ .IAST }}</h3>
                {{ range .Meanings }}
                <p class="card-text">{{ .Body.Plain }}</p>
                <hr />
                {{ end }}
            </div>
        </div>
        <hr>
        {{ end }}
    </div>
    {{ else }}
    <div class="alert alert-warning mt-4" role="alert">
        No results found!
    </div>
    {{ end }}
</div>
{{ end }}