{{ define "scripture_search" }}
<div class="container">
    <h2 class="my-4">Search Results for {{ .Search.Q | printf "%q" }}</h2>

    {{ with .Excerpts }}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Path</th>
                <th scope="col">Roman Text</th>
                <th scope="col">Translation (Griffith)</th>
                <th scope="col">Addressee</th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
            <tr>
                <td><a href="/scriptures/{{ .Scripture }}/excerpts/{{ .ReadableIndex }}">{{
                        .ReadableIndex }}</a></td>
                <td class="roman-text-search">{{ range .RomanText }}{{ . }}<br>{{ end }}</td>
                <td class="wrap-50">
                    {{- with .Auxiliaries -}}
                    {{- if .griffith -}}
                    {{- range .griffith.Text -}}
                    {{- . -}}
                    {{- end -}}
                    {{- end -}}
                    {{- end -}}
                </td>
                <td>{{ join .Addressees ", " }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    {{ else }}
    <div class="alert alert-warning" role="alert">
        No results found!
    </div>
    {{ end }}
</div>
{{ end }}